<!doctype html>
<html lang="en">
<!--<head>-->
<head th:replace="/fragments/head"></head>
<!--</head>-->
<body>
<!--navigation-->
<nav th:replace="/fragments/nav :: nav-front"></nav>
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col">
                <h1>Spring Boot CMS</h1>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
            </div>
        </div>

    </div> <!-- /container -->
<footer th:replace="/fragments/footer"></footer>
</body>

</html>
